@model IEnumerable<ALPHA.Models.PersonModel>

@{
    ViewData["Title"] = "Listar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Listar</h1>

<p>
    <a asp-action="Guardar" class="btn btn-primary">Crear persona</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Idpersona)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Identificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Apellido)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.anacimiento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Idpersona)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Identificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Apellido)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.anacimiento)
            </td>
            <td>
                    <a asp-action="Editar" asp-route-Idpersona=@item.Idpersona class="btn btn-success">Editar</a>
                    <a asp-action="Eliminar" class="btn btn-danger">Eliminar</a>
          @*          <button type="submit" class="btn btn-warning">
                        @Html.ActionLink("Editar" , "Editar", new {  Idpersona=item.Idpersona })
                    </button>
                    <button type="submit" class="btn btn-danger">
                    @Html.ActionLink("Eliminar", "Eliminar", new { Idpersona=item.Idpersona })
                    </button>*@
            </td>
        </tr>
}
    </tbody>
</table>
